*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
   height: 100vh;
   background: black;
}
.nav {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.list {
    display: flex;
    column-gap: 30px;

}

.link {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}
.header__content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.header__title {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.header__text {
    color: yellow;
    font-size: 25px;

}